.StackOverflowList a {
    font-size: 16pt;
    width: 100%;
}

.StackOverflowList li {
    width: 100%;
    margin: 2% 0;
}

.stack-overflow a:after {
    content: '';
    display: block;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: .5s ease;
}
.stack-overflow a:hover:after {
    width: 100%;
    background: #37ffe1;
}