.StackOverflowList a {
    font-size: 16pt;
    width: 100%;
}

.StackOverflowList li {
    width: 100%;
    margin: 2% 0;
    line-height: 1.5em;
    list-style-image: url('https://image.flaticon.com/icons/png/512/36/36634.png');
}

.StackOverflowList li i {
    padding: 0 10px 0 0;
}

.stack-overflow li:after {
    content: '';
    display: block;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: .5s ease;
}
.stack-overflow li:hover:after {
    width: 100%;
    background: #37ffe1;
}