
.landing-page main {
  padding: 5%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.landing-page section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-page .description {
  height: 40%;
  flex-direction: column;
  padding: 5%;
}

.landing-page .search-bar {
  height: 10%;
  background-color: slategray;
}

.landing-page input, .landing-page label {
  margin: 1% 0;
}

.landing-page .signup {
  height: 45%;
  background-color: #E6FDFF;
}

.landing-page form {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 7% 0 0 0;
}

.landing-page legend {
  font-size: 22pt;
  align-self: center;
}

.landing-page form input {
  width: 100%;
  height: 13%;
  border-radius: 10px;
  padding: 0 0 0 3%;
}

.landing-page .signup-submit {
  width: 50%;
  margin: 6% auto 0;
}

.landing-page p {
  font-size: 3.5vmin;
  line-height: 1.6em;
  margin: 2% 0;
}