.landing-page main {
  padding: 5%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.landing-page section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-page .description {
  height: 50%;
  flex-direction: column;
  padding: 5%;
  background-color: rgb(230, 253, 255);
}

.landing-page .search-bar {
  height: 10%;
}

.landing-page input, .landing-page label {
  margin: 1% 0;
}

.landing-page .signup {
  height: 45%;
  background-color: #E6FDFF;
}

.landing-page form {
  width: 70%;
  min-height: 70%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.landing-page legend {
  font-size: 22pt;
  align-self: center;
  margin: 0 0 10px 0;
}

.landing-page form input {
  width: 100%;
  max-width: 500px;
  line-height: 20px;
  border-radius: 10px;
  padding: 0 0 0 3%;
}

.landing-page .signup-submit {
  width: 50%;
  margin: 6% auto 0;
}

.landing-page p {
  font-size: 3.4vmin;
  font-weight: 600;
  text-shadow: #E6FDFF;
  line-height: 1.6em;
  margin: 2% 0;
  color: black;
  font-family: 'Open Sans', sans-serif;
}

@media only screen and (min-width: 420px) {
  .landing-page p {
    font-size: 3.1vmin;
  }
}

@media only screen and (min-width: 500px) {
  .landing-page p {
   font-size: 2.6vmin;
  }
}


@media only screen and (min-width: 600px) {
  .landing-page p {
    font-size: 2.2vmin;
  }
}

@media only screen and (min-width: 700px) {
  .landing-page p {
    font-size: 2.0vmin;
  }
}

@media only screen and (min-width: 900px) {
  .landing-page p {
    font-size: 1.8vmin;
  }
}