
.landing-page nav {
  height: 7vh;
  border-bottom: 1px solid black;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: gray;
}

.landing-page .buffer {
  width: 20%;
}

.landing-page .nav-center {
  width: 60%;
}

.landing-page main {
  padding: 5%;
  height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.landing-page section {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-page .description {
  height: 40%;
  background-color: lightgray;
}

.landing-page .search-bar {
  height: 10%;
  background-color: slategray;
}

.landing-page input, .landing-page label {
  margin: 1% 0;
}

.landing-page .signup {
  height: 45%;
  background-color: darkgray;
}

.landing-page form {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20% 0 0 0;
}

.landing-page legend {
  font-size: 16pt;
  align-self: center;
}

.landing-page form input {
  width: 100%;
}
