main {
    height: 90vh;
    padding: 1.5% 5%;
    overflow: scroll;
}

.main-page {
    height: 100vh;
    -ms-overflow-style: none;     
    scrollbar-width: none; 
}

.main::-webkit-scrollbar { 
    display: none;
}

section.search-bar {
    margin: 0 0 5% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-page section {
    margin: 0 0 5% 0;
    display: flex;
    background-color: #E6FDFF;
    border-radius: 25px;
    padding: 10px 15px;
}

form {
    display: flex;
}

.search-bar {
    min-height: 10%;
    display: flex;
    flex-direction: column;
}

.search-bar form {
    display: flex;
    align-items: center;
}

#search-query-bar {
    border-radius: 10px;
    margin-left: 10px;
    padding: 0 0 0 3%;
    height: 100%;
}

.SearchHistoryList {
    display: flex;
    flex-direction: row;
    width: 90%;
    max-width: 500px;
    margin: 3% 0 0 0;
    justify-content: space-around;
}

.SearchHistoryListItem {
    max-width: 25%;
}

.SearchHistoryListItem button {
    white-space: nowrap;
    height: 25px;
    width: 12vw;
    max-width: 100px;
    min-width: 55px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.documentation, .stack-overflow, .youtube {
    min-height: 23vh;
    flex-direction: column;
}

.main-page span {
    color: #37ffe1;
    text-shadow: 1px 1px 1px black;
    font-size: 16pt;
}

section ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0 1%;
    padding: 0;
}

a, a:hover {
    color: #000;
    text-decoration: none;
}

li {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
    margin-right: 10px;
}

@media only screen and (min-width: 1000px) {
    .main-page section {
        margin: 0;
    }

    .main-page section.youtube {
        padding: 1%;
    }

    .MainPage-row-container {
        display: flex;
        margin: 10px 0 0 0;
    }

    .MainPage-left-container {
        margin: 0 10px 0 0;
    }

    .documentation {
        margin: 10px 0 0 0 !important;
    }

    .documentation, .stack-overflow {
        flex: 1 1 0px;
    }

    .MainPage-left-container, .youtube {
        flex: 1 1 0px;
    }


}

