nav {
    height: 7vh;
    width: 100%;
    border-bottom: 1px solid black;
    text-align: center;
    background-color: gray;
}

main {
    height: 93vh;
    padding: 5%;
}

.border {
border: 1px black solid;
} 

section {
margin: 0 0 5% 0;
display: flex;
justify-content: center;
align-items: center;
}

form {
    display: flex;
}

.search-bar {
height: 10%;
background-color: lightgray;
}

input {
margin: 1%;
}

.stack-overflow {
min-height: 25%;
background-color: slategray;
}

.stack-overflow ul {
    height: 100%;
    width: 100%;
}

.documentation {
height: 25%;
background-color: darkgray;
}

.youtube {
height: 80%;
background-color: dimgrey;
}

.youtube ul {
    list-style-type: none;
}
section ul {
    display: flex;
    flex-direction: column;
}