nav {
    height: 7vh;
    width: 100%;
    border-bottom: 1px solid black;
    text-align: center;
    background-color: gray;
}

main {
    height: 93vh;
    padding: 5%;
}

.border {
    border: 1px black solid;
} 

section.search-bar {
    margin: 0 0 5% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    margin: 0 0 5% 0;
    display: flex;
    justify-content: center;
}

form {
    display: flex;
}

.search-bar {
    height: 10%;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
}

.SearchHistoryList {
    display: flex;
    flex-direction: row;
    width: auto;
    margin: 1% 0 0 0;
    justify-content: space-evenly;
}

.SearchHistoryListItem {
    margin: 0 5%;
}

input {
    margin: 1%;
}

.stack-overflow {
    min-height: 25%;
    background-color: slategray;
}

.stack-overflow ul {
    height: 100%;
    width: 100%;
}

.documentation {
    min-height: 25%;
    background-color: darkgray;
}

.youtube {
    min-height: 80%;
    background-color: dimgrey;
}

section ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0 1%;
    padding: 0;
}