
.DocsList {
    margin: 0;
    padding: 2%;
}

.DocsListItem {
    width: 100%;
    list-style-type: none;
    margin: 1% 0;
}

.DocsList a {
    display: block;
    border-radius: 25px;
}

.DocsListItem img{
    width: 100%;
    border-radius: 25px;
    border: 6px solid #37ffe1;
}