.YoutubeList {
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    flex: 1;
}

.YoutubeListItem img{
    margin: 0;
    padding: 0;
    border-radius: 25px;
    border: 6px solid #37ffe1;
    object-fit: cover;
    height: auto;
    width: 100%;
}

.YoutubeListItem button {
    border-radius: 25px;
    border: none;
    height: 100%;
    width: auto;
    max-width: 25%;
}

.YoutubeListItem p {
    padding: 1px 0;
    margin: 0 0 0 5px;
    font-size: 1.2em;
    line-height: 1.4em;
    overflow : hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    cursor: pointer;
    max-width: 500px;
    height: 100%;
}

.YoutubeListItem p:hover {
    overflow: visible; 
    overflow-x: hidden;
    white-space: normal;
    height: auto;  /* just added this line */
}

.YoutubeListItem {
    height: auto;
    width: 100%;
    display: flex;
    margin: 1% 0;
    padding: 0;
    flex-direction: column;
}