nav {
    height: 10vh;
    text-align: center;
    display: flex;
    align-items: center;
}

.buffer {
    width: 20%;
}

.nav-center {
    width: 60%;
}

nav img {
    width: 100%;
    height: auto;
}