nav {
    height: 7vh;
    border-bottom: 1px solid black;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: gray;
}

.buffer {
    width: 20%;
}

.nav-center {
    width: 60%;
}